# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# AWS Keys
*.pem

# Python cache
.pytest_cache/

# Static Build
staticfiles/